In [1]:
import os
os.chdir("/home/canyon/hackday-q2-2024-open-earth-foundation")
from src.utils import *
import censusdis.data as ced
from censusdis.states import ALL_STATES_AND_DC
import matplotlib.pyplot as plt
alber_eq_us = "EPSG:5070"

## Trips data

In [2]:
bts_df = load_data_from_ts3("BTS Trips/Trips_by_Distance_20240523.csv")
bts_df.head()

,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,...,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID,Week,Month
Level,,,,,,,,,,,,,,,,,,,,,
National,2019/01/01,NaN,NaN,NaN,NaN,77433867.0,248733553.0,8.977844e+08,241667151.0,234284795.0,...,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,00-00000-20190101,0,1
National,2019/01/02,NaN,NaN,NaN,NaN,61305201.0,264862219.0,1.139452e+09,291276735.0,285887315.0,...,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,00-00000-20190102,0,1
National,2019/01/03,NaN,NaN,NaN,NaN,63050480.0,263116940.0,1.162753e+09,296375014.0,290074425.0,...,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,00-00000-20190103,0,1
National,2019/01/04,NaN,NaN,NaN,NaN,61803652.0,264363768.0,1.181954e+09,293159631.0,295643296.0,...,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,00-00000-20190104,0,1
National,2019/01/05,NaN,NaN,NaN,NaN,64389745.0,261777675.0,1.180477e+09,295459014.0,304168709.0,...,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,00-00000-20190105,0,1

In [3]:
trips = bts_df
trips["Date"] = pd.to_datetime(trips["Date"])

bts = trips.reset_index()
bts.head()

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,...,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID,Week,Month
0,National,2019-01-01,NaN,NaN,NaN,NaN,77433867.0,248733553.0,8.977844e+08,241667151.0,...,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,00-00000-20190101,0,1
1,National,2019-01-02,NaN,NaN,NaN,NaN,61305201.0,264862219.0,1.139452e+09,291276735.0,...,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,00-00000-20190102,0,1
2,National,2019-01-03,NaN,NaN,NaN,NaN,63050480.0,263116940.0,1.162753e+09,296375014.0,...,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,00-00000-20190103,0,1
3,National,2019-01-04,NaN,NaN,NaN,NaN,61803652.0,264363768.0,1.181954e+09,293159631.0,...,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,00-00000-20190104,0,1
4,National,2019-01-05,NaN,NaN,NaN,NaN,64389745.0,261777675.0,1.180477e+09,295459014.0,...,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,00-00000-20190105,0,1

In [4]:
national = bts.loc[bts["Level"] == "National"]
national

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,...,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID,Week,Month
0,National,2019-01-01,NaN,NaN,NaN,NaN,77433867.0,248733553.0,8.977844e+08,241667151.0,...,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,00-00000-20190101,0,1
1,National,2019-01-02,NaN,NaN,NaN,NaN,61305201.0,264862219.0,1.139452e+09,291276735.0,...,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,00-00000-20190102,0,1
2,National,2019-01-03,NaN,NaN,NaN,NaN,63050480.0,263116940.0,1.162753e+09,296375014.0,...,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,00-00000-20190103,0,1
3,National,2019-01-04,NaN,NaN,NaN,NaN,61803652.0,264363768.0,1.181954e+09,293159631.0,...,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,00-00000-20190104,0,1
4,National,2019-01-05,NaN,NaN,NaN,NaN,64389745.0,261777675.0,1.180477e+09,295459014.0,...,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,00-00000-20190105,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6141343,National,2024-01-16,NaN,NaN,NaN,NaN,72980399.0,255259124.0,1.376285e+09,394419249.0,...,207445615.0,203592902.0,62965823.0,19521695.0,7668717.0,1733428.0,1359291.0,00-00000-20240116,2,1
6141344,National,2024-01-17,NaN,NaN,NaN,NaN,72457388.0,255782135.0,1.426009e+09,400588486.0,...,220672351.0,213745550.0,64202154.0,18672200.0,6856467.0,1679240.0,1297973.0,00-00000-20240117,2,1
6141345,National,2024-01-18,NaN,NaN,NaN,NaN,71045060.0,257194463.0,1.414872e+09,397349971.0,...,217210639.0,213593358.0,67028679.0,20399916.0,7890872.0,1867267.0,1414567.0,00-00000-20240118,2,1
6141346,National,2024-01-19,NaN,NaN,NaN,NaN,70734077.0,257505446.0,1.428067e+09,398173659.0,...,219097744.0,215297514.0,67361311.0,22173329.0,9737126.0,2135940.0,1478063.0,00-00000-20240119,2,1
6141347,National,2024-01-20,NaN,NaN,NaN,NaN,72442429.0,255797094.0,1.399006e+09,379911468.0,...,216892484.0,211203296.0,68849619.0,25440363.0,11247238.0,2364801.0,1534717.0,00-00000-20240120,2,1

In [5]:
state = bts.loc[bts["Level"] == "State"]
state

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,...,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID,Week,Month
887,State,2019-01-01,32.0,NV,NaN,NaN,753054.0,2272063.0,9139676.0,2999886.0,...,1378024.0,1108436.0,222837.0,93301.0,73578.0,24471.0,18427.0,32-00000-20190101,0,1
888,State,2019-01-01,12.0,FL,NaN,NaN,4524666.0,16709556.0,55258300.0,16036792.0,...,7977612.0,6604304.0,2113009.0,796740.0,412224.0,95341.0,93887.0,12-00000-20190101,0,1
889,State,2019-01-01,11.0,DC,NaN,NaN,241030.0,459278.0,3114055.0,1314825.0,...,344116.0,183744.0,42096.0,10730.0,8109.0,3476.0,5616.0,11-00000-20190101,0,1
890,State,2019-01-01,10.0,DE,NaN,NaN,224457.0,739757.0,2420942.0,584323.0,...,370359.0,314102.0,128454.0,50542.0,22701.0,2474.0,2198.0,10-00000-20190101,0,1
891,State,2019-01-01,9.0,CT,NaN,NaN,853894.0,2707851.0,9468961.0,2375021.0,...,1331356.0,1211252.0,449947.0,192960.0,56618.0,12031.0,31268.0,09-00000-20190101,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6142057,State,2024-01-20,10.0,DE,NaN,NaN,206202.0,767562.0,4018660.0,1069314.0,...,640334.0,595235.0,217335.0,76625.0,29198.0,2708.0,1894.0,10-00000-20240120,2,1
6142058,State,2024-01-20,23.0,ME,NaN,NaN,266826.0,1077386.0,6290102.0,1423629.0,...,1000895.0,1133714.0,424034.0,133249.0,32052.0,2169.0,2569.0,23-00000-20240120,2,1
6142059,State,2024-01-20,40.0,OK,NaN,NaN,838696.0,3118275.0,15904538.0,4018035.0,...,2481282.0,2663938.0,877167.0,379782.0,144917.0,21370.0,10582.0,40-00000-20240120,2,1
6142060,State,2024-01-20,55.0,WI,NaN,NaN,1132189.0,4690245.0,26970162.0,6884903.0,...,4213333.0,4284630.0,1574934.0,661760.0,284408.0,35057.0,17574.0,55-00000-20240120,2,1
6142061,State,2024-01-20,54.0,WV,NaN,NaN,386799.0,1405348.0,7236616.0,1742546.0,...,1180924.0,1124666.0,397087.0,140674.0,59783.0,9062.0,2187.0,54-00000-20240120,2,1

In [6]:
county = bts.loc[bts["Level"] == "County"]
county["County FIPS"] = county["County FIPS"].astype('int')
county

/tmp/ipykernel_1440982/411990958.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  county["County FIPS"] = county["County FIPS"].astype('int')

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,...,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID,Week,Month
21061,County,2021-06-06,56.0,WY,56045,Weston County,1268.0,5659.0,22471.0,4160.0,...,1558.0,5723.0,2202.0,3930.0,1160.0,166.0,23.0,56-56045-20210606,23,6
22762,County,2021-06-06,5.0,AR,5011,Bradley County,1780.0,8983.0,25022.0,3411.0,...,4321.0,3343.0,1793.0,1383.0,690.0,35.0,0.0,05-05011-20210606,23,6
22763,County,2021-06-06,5.0,AR,5013,Calhoun County,571.0,4618.0,17543.0,2166.0,...,3600.0,4277.0,1141.0,530.0,425.0,41.0,0.0,05-05013-20210606,23,6
22764,County,2021-06-06,5.0,AR,5015,Carroll County,4386.0,23994.0,77047.0,14712.0,...,13170.0,14712.0,4272.0,1227.0,1323.0,132.0,36.0,05-05015-20210606,23,6
22765,County,2021-06-06,5.0,AR,5017,Chicot County,1356.0,8762.0,31550.0,9483.0,...,3929.0,3857.0,1380.0,580.0,957.0,61.0,4.0,05-05017-20210606,23,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6141329,County,2024-01-20,1.0,AL,1105,Perry County,948.0,7975.0,44192.0,9572.0,...,4085.0,6229.0,4208.0,1656.0,594.0,42.0,16.0,01-01105-20240120,2,1
6141330,County,2024-01-20,1.0,AL,1107,Pickens County,2571.0,17359.0,74611.0,11289.0,...,12157.0,14481.0,8528.0,2362.0,774.0,160.0,0.0,01-01107-20240120,2,1
6141331,County,2024-01-20,1.0,AL,1109,Pike County,4834.0,28280.0,127594.0,26700.0,...,20877.0,19541.0,8050.0,5810.0,2096.0,442.0,26.0,01-01109-20240120,2,1
6141332,County,2024-01-20,1.0,AL,1111,Randolph County,3184.0,19538.0,87229.0,17778.0,...,14269.0,14140.0,8855.0,3081.0,515.0,112.0,45.0,01-01111-20240120,2,1
6141333,County,2024-01-20,1.0,AL,1113,Russell County,10041.0,47920.0,225206.0,57650.0,...,40241.0,37397.0,10880.0,3421.0,2275.0,807.0,91.0,01-01113-20240120,2,1

## County/City Map

In [7]:
city_gdf = load_data_from_ts3("Geometries/US_city_geometries.geojson")
city_gdf.head()

Warning 3: Cannot find header.dxf (GDAL_DATA is not defined)
Cannot find header.dxf (GDAL_DATA is not defined)

,place_id,osm_type,osm_id,lat,lon,class,type,place_rank,importance,addresstype,name,display_name,locode,bbox_west,bbox_south,bbox_east,bbox_north,geometry
0,297390788,relation,111100,33.942879,-91.843467,boundary,administrative,16,0.389785,city,Star City,"Star City, Lincoln County, Arkansas, 71667, Un...",US 5ST,-91.864844,33.919132,-91.803695,33.963980,"POLYGON ((-91.86484 33.93014, -91.86043 33.930..."
1,299235226,relation,10055350,43.770085,-85.028359,boundary,administrative,14,0.441292,municipality,Coldwater Township,"Coldwater Township, Isabella County, Michigan,...",US CWA,-85.088808,43.726524,-84.968352,43.813799,"POLYGON ((-85.08881 43.81361, -85.08728 43.726..."
2,298586541,relation,10058790,43.612498,-85.502892,boundary,administrative,14,0.440956,municipality,Mecosta Township,"Mecosta Township, Mecosta County, Michigan, Un...",US UMQ,-85.562523,43.554844,-85.443313,43.642155,"POLYGON ((-85.56252 43.56750, -85.56250 43.563..."
3,298671096,relation,10058798,43.850459,-85.265396,boundary,administrative,14,0.440860,municipality,Evart Township,"Evart Township, Osceola County, Michigan, 4963...",US EV2,-85.324856,43.813821,-85.206074,43.900977,"POLYGON ((-85.32486 43.90098, -85.32437 43.814..."
4,299094929,relation,10060174,44.031112,-85.622706,boundary,administrative,14,0.440715,municipality,Ellsworth Township,"Ellsworth Township, Lake County, Michigan, Uni...",US EY5,-85.682663,43.988255,-85.562681,44.074797,"POLYGON ((-85.68266 44.07469, -85.68201 43.988..."

In [8]:
cities = city_gdf[city_gdf.addresstype == "city"]

In [9]:
city_county_map = pd.DataFrame(
    cities.display_name.str.split(",").to_list()
)[[0, 1, 2]].rename(
    columns={0: "City Name", 1: "County Name", 2: "State"}
)
city_county_map

,City Name,County Name,State
0,Star City,Lincoln County,Arkansas
1,Lake Almanor Country Club,Plumas County,CAL Fire Northern Region
2,Barree Township,Huntingdon County,Pennsylvania
3,Ulysses Township,Potter County,Pennsylvania
4,Kenai,Kenai Peninsula,Alaska
...,...,...,...
5004,Maricopa,Kern County,CAL Fire Contract Counties
5005,Baldwin Park,Los Angeles County,CAL Fire Contract Counties
5006,Ussurijsk,Уссурийский городской округ,Primorsky Krai
5007,Steamboat Springs,Routt County,Colorado
5008,Cheshire,Lane County,Oregon

## County geometries

In [10]:
county_gdf = load_data_from_ts3("Geometries/US_county_geometries.geojson")
county_gdf['FIPS'] = county_gdf['FIPS'].astype('int')
county_gdf.head()

,id,STATE,COUNTY,NAME,total_pop,FIPS,geometry
0,0,01,001,"Autauga County, Alabama",55639,1001,"POLYGON ((-86.92120 32.65754, -86.92035 32.658..."
1,1,01,003,"Baldwin County, Alabama",218289,1003,"POLYGON ((-88.02858 30.22676, -88.02399 30.230..."
2,2,01,005,"Barbour County, Alabama",25026,1005,"POLYGON ((-85.74803 31.61918, -85.74544 31.618..."
3,3,01,007,"Bibb County, Alabama",22374,1007,"POLYGON ((-87.42194 33.00338, -87.33177 33.005..."
4,4,01,009,"Blount County, Alabama",57755,1009,"POLYGON ((-86.96336 33.85822, -86.95967 33.857..."

In [11]:
county_merged = county.merge(county_gdf, how='left', left_on='County FIPS', right_on='FIPS')
county_merged.head()

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,...,Row ID,Week,Month,id,STATE,COUNTY,NAME,total_pop,FIPS,geometry
0,County,2021-06-06,56.0,WY,56045,Weston County,1268.0,5659.0,22471.0,4160.0,...,56-56045-20210606,23,6,1134,56,045,"Weston County, Wyoming",6942.0,56045.0,"POLYGON ((-105.08123 43.65128, -105.08080 43.7..."
1,County,2021-06-06,5.0,AR,5011,Bradley County,1780.0,8983.0,25022.0,3411.0,...,05-05011-20210606,23,6,2191,05,011,"Bradley County, Arkansas",10805.0,5011.0,"POLYGON ((-92.38153 33.34060, -92.38171 33.342..."
2,County,2021-06-06,5.0,AR,5013,Calhoun County,571.0,4618.0,17543.0,2166.0,...,05-05013-20210606,23,6,449,05,013,"Calhoun County, Arkansas",5160.0,5013.0,"POLYGON ((-92.77672 33.53926, -92.77587 33.544..."
3,County,2021-06-06,5.0,AR,5015,Carroll County,4386.0,23994.0,77047.0,14712.0,...,05-05015-20210606,23,6,450,05,015,"Carroll County, Arkansas",28062.0,5015.0,"POLYGON ((-93.89025 36.37878, -93.88782 36.380..."
4,County,2021-06-06,5.0,AR,5017,Chicot County,1356.0,8762.0,31550.0,9483.0,...,05-05017-20210606,23,6,2192,05,017,"Chicot County, Arkansas",10433.0,5017.0,"POLYGON ((-91.46042 33.17019, -91.46028 33.199..."

### Calculate per capita distance traveled per county per month

In [12]:
# NOTE: here we're dropping the trips > 500
multiplication_dict = {'Number of Trips <1' : 0.5, 'Number of Trips 1-3' : 2,
                       'Number of Trips 3-5' : 4,
       'Number of Trips 5-10' : 7, 'Number of Trips 10-25' : 13,
       'Number of Trips 25-50' : 37, 'Number of Trips 50-100' : 75,
       'Number of Trips 100-250' : 175, 'Number of Trips 250-500' : 375,
       'Number of Trips >=500' : 0}

county_merged["month"] = county_merged.Date.dt.month_name()

for key in multiplication_dict:
    county_merged[key] *= multiplication_dict[key]

county_merged.head()

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,...,Week,Month,id,STATE,COUNTY,NAME,total_pop,FIPS,geometry,month
0,County,2021-06-06,56.0,WY,56045,Weston County,1268.0,5659.0,22471.0,2080.0,...,23,6,1134,56,045,"Weston County, Wyoming",6942.0,56045.0,"POLYGON ((-105.08123 43.65128, -105.08080 43.7...",June
1,County,2021-06-06,5.0,AR,5011,Bradley County,1780.0,8983.0,25022.0,1705.5,...,23,6,2191,05,011,"Bradley County, Arkansas",10805.0,5011.0,"POLYGON ((-92.38153 33.34060, -92.38171 33.342...",June
2,County,2021-06-06,5.0,AR,5013,Calhoun County,571.0,4618.0,17543.0,1083.0,...,23,6,449,05,013,"Calhoun County, Arkansas",5160.0,5013.0,"POLYGON ((-92.77672 33.53926, -92.77587 33.544...",June
3,County,2021-06-06,5.0,AR,5015,Carroll County,4386.0,23994.0,77047.0,7356.0,...,23,6,450,05,015,"Carroll County, Arkansas",28062.0,5015.0,"POLYGON ((-93.89025 36.37878, -93.88782 36.380...",June
4,County,2021-06-06,5.0,AR,5017,Chicot County,1356.0,8762.0,31550.0,4741.5,...,23,6,2192,05,017,"Chicot County, Arkansas",10433.0,5017.0,"POLYGON ((-91.46042 33.17019, -91.46028 33.199...",June

In [13]:
grouped = county_merged.groupby(["County FIPS", "Month", "total_pop"])[list(multiplication_dict.keys())].sum()

df = pd.DataFrame(grouped.sum(axis=1))
df = df.reset_index().rename(columns={0: "total_miles"})
df['per_capita'] = df['total_miles'] / df['total_pop']
df['County FIPS'] = df['County FIPS'].astype(str).str.zfill(5)

df.head()

  County FIPS  Month  total_pop  total_miles   per_capita
0       01001      1    55639.0  355159557.5  6383.284342
1       01001      2    55639.0  343064294.5  6165.896125
2       01001      3    55639.0  377216355.0  6779.711264
3       01001      4    55639.0  317256822.5  5702.058313
4       01001      5    55639.0  311900535.5  5605.789743

In [14]:
df.sort_values(by='per_capita', ascending=True).head(20)

     County FIPS  Month  total_pop  total_miles  per_capita
6572       15005      9      436.0          0.0         0.0
6567       15005      4      436.0          0.0         0.0
6566       15005      3      436.0          0.0         0.0
984        02164      1     1156.0          0.0         0.0
6565       15005      2      436.0          0.0         0.0
6573       15005     10      436.0          0.0         0.0
6564       15005      1      436.0          0.0         0.0
6568       15005      5      436.0          0.0         0.0
6574       15005     11      436.0          0.0         0.0
863        02060     12      739.0          0.0         0.0
862        02060     11      739.0          0.0         0.0
6571       15005      8      436.0          0.0         0.0
861        02060     10      739.0          0.0         0.0
860        02060      9      739.0          0.0         0.0
854        02060      3      739.0          0.0         0.0
6575       15005     12      436.0          0.0         0.0
995        02164     12     1156.0          0.0         0.0
853        02060      2      739.0          0.0         0.0
1119       02282      4      597.0          0.0         0.0
1120       02282      5      597.0          0.0         0.0

In [15]:
df[df['County FIPS'] == "42003"]

      County FIPS  Month  total_pop   total_miles   per_capita
26928       42003      1  1218380.0  5.151122e+09  4227.845121
26929       42003      2  1218380.0  4.874296e+09  4000.636599
26930       42003      3  1218380.0  5.456722e+09  4478.669898
26931       42003      4  1218380.0  4.430239e+09  3636.171496
26932       42003      5  1218380.0  4.522313e+09  3711.742636
26933       42003      6  1218380.0  4.493590e+09  3688.168247
26934       42003      7  1218380.0  4.874497e+09  4000.801527
26935       42003      8  1218380.0  4.950163e+09  4062.905930
26936       42003      9  1218380.0  4.723009e+09  3876.466339
26937       42003     10  1218380.0  4.641529e+09  3809.590283
26938       42003     11  1218380.0  4.386595e+09  3600.350824
26939       42003     12  1218380.0  4.536413e+09  3723.315050

In [16]:
total_dist_by_county = df.query("per_capita > 0").groupby("County FIPS")[["total_miles"]].sum().reset_index()

In [17]:
total_dist_by_county["STATE"] = total_dist_by_county["County FIPS"].str.slice(0,2)
total_dist_by_state = total_dist_by_county.groupby("STATE")["total_miles"].sum().reset_index().rename({"total_miles" : "total_miles_state"}, axis = 1)
write_to_ts3(total_dist_by_state, "BTS Trips/state_trip_distances.csv")

## Convert county aggregations to city

given a city geometry: sum over each county that overlaps with the city: find the overlap area percentage of the county, multiplied by the county per capita number of trips

In [18]:
county_pops = county_gdf[["STATE", "COUNTY", "total_pop"]].rename({"total_pop" : "total_pop_county"}, axis = 1)
county_pops["County FIPS"] = county_pops["STATE"] + county_pops["COUNTY"]

In [19]:
CENSUS_VARS = {"B01001_001E" : "total_pop"}
national_tracts = ced.download("acs/acs5", 2020, CENSUS_VARS, state=ALL_STATES_AND_DC, county = "*",tract = "*", with_geometry=True).rename(CENSUS_VARS, axis = 1).to_crs(4326)

In [20]:
dists_merged = national_tracts.merge(county_pops).merge(total_dist_by_county)
dists_merged["pop_weight"] = dists_merged["total_pop"] / dists_merged["total_pop_county"]
dists_merged["weighted_tract_miles"] = dists_merged["pop_weight"] * dists_merged["total_miles"]

In [21]:
interpolated_miles = areal_interpolation(city_gdf, dists_merged, ["weighted_tract_miles"], ["interpolated_tract_miles_traveled"])

In [22]:
interpolated_miles.columns

Index(['place_id', 'geometry', 'osm_type', 'osm_id', 'lat', 'lon', 'class',
       'type', 'place_rank', 'importance', 'addresstype', 'name',
       'display_name', 'locode', 'bbox_west', 'bbox_south', 'bbox_east',
       'bbox_north', 'interpolated_tract_miles_traveled'],
      dtype='object')

In [23]:
write_to_ts3(interpolated_miles[["place_id", "interpolated_tract_miles_traveled"]], "BTS Trips/city_trip_distances.csv")